doctype html
html(lang='ru', class="no-js")

	head
		meta(charset='utf-8')

		title Bouncy
		meta(name='description', content='')

		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		
		link(rel="icon", type="image/png", href='img/favicon.png')
	
		// Bootstrap v3.3.4 Grid Styles
		style .container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after{content:" ";display:table}.clearfix:after,.container:after,.container-fluid:after,.row:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right !important}.pull-left{float:left !important}.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important}.affix{position:fixed}@-ms-viewport{width:device-width}.visible-xs,.visible-sm,.visible-md,.visible-lg{display:none !important}.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block{display:none !important}@media (max-width:767px){.visible-xs{display:block !important}table.visible-xs{display:table}tr.visible-xs{display:table-row !important}th.visible-xs,td.visible-xs{display:table-cell !important}}@media (max-width:767px){.visible-xs-block{display:block !important}}@media (max-width:767px){.visible-xs-inline{display:inline !important}}@media (max-width:767px){.visible-xs-inline-block{display:inline-block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block !important}table.visible-sm{display:table}tr.visible-sm{display:table-row !important}th.visible-sm,td.visible-sm{display:table-cell !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block !important}table.visible-md{display:table}tr.visible-md{display:table-row !important}th.visible-md,td.visible-md{display:table-cell !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block !important}}@media (min-width:1200px){.visible-lg{display:block !important}table.visible-lg{display:table}tr.visible-lg{display:table-row !important}th.visible-lg,td.visible-lg{display:table-cell !important}}@media (min-width:1200px){.visible-lg-block{display:block !important}}@media (min-width:1200px){.visible-lg-inline{display:inline !important}}@media (min-width:1200px){.visible-lg-inline-block{display:inline-block !important}}@media (max-width:767px){.hidden-xs{display:none !important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none !important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none !important}}@media (min-width:1200px){.hidden-lg{display:none !important}}.visible-print{display:none !important}@media print{.visible-print{display:block !important}table.visible-print{display:table}tr.visible-print{display:table-row !important}th.visible-print,td.visible-print{display:table-cell !important}}.visible-print-block{display:none !important}@media print{.visible-print-block{display:block !important}}.visible-print-inline{display:none !important}@media print{.visible-print-inline{display:inline !important}}.visible-print-inline-block{display:none !important}@media print{.visible-print-inline-block{display:inline-block !important}}@media print{.hidden-print{display:none !important}}

		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:300", rel="stylesheet")
		link(rel="stylesheet", href="plugins/slick/slick.css")
		link(rel='stylesheet', href='css/style.css')
		link(rel="stylesheet", href="plugins/animate/animate.css")

	body
		
		//- HEADER
		header.header#header
			.container
				.row
					.col-md-2.col-sm-4
						a.header__logo.logo(href="#")
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="111.813" height="18.75" viewBox="0 0 111.813 18.75">
								<path d="M104.965,11.851 L104.965,18.750 L100.092,18.750 L100.092,11.851 L93.243,0.004 L98.917,0.004 L102.516,6.253 L106.140,0.004 L111.814,0.004 L104.965,11.851 ZM84.741,13.776 C86.015,13.776 87.115,13.326 87.890,12.526 L91.389,15.975 C89.690,17.675 87.340,18.750 84.741,18.750 C79.567,18.750 75.368,14.551 75.368,9.377 C75.368,4.203 79.567,0.004 84.741,0.004 C87.315,0.004 89.640,1.029 91.339,2.729 L87.890,6.203 C87.115,5.428 86.015,4.978 84.741,4.978 C82.191,4.978 80.342,6.827 80.342,9.377 C80.342,11.927 82.191,13.776 84.741,13.776 ZM62.417,9.877 L62.417,18.750 L57.493,18.750 L57.493,0.004 L59.492,0.004 L68.365,8.852 L68.365,0.004 L73.289,0.004 L73.289,18.750 L71.265,18.750 L62.417,9.877 ZM46.341,18.750 C42.217,18.750 38.943,15.475 38.943,11.351 L38.943,0.004 L43.892,0.004 L43.892,11.277 C43.892,12.626 44.991,13.726 46.341,13.726 C47.691,13.726 48.791,12.626 48.791,11.277 L48.791,0.004 L53.739,0.004 L53.739,11.351 C53.739,15.475 50.415,18.750 46.341,18.750 ZM26.666,18.750 C21.492,18.750 17.318,14.576 17.318,9.402 C17.318,4.228 21.492,0.004 26.666,0.004 C31.840,0.004 36.039,4.228 36.039,9.402 C36.039,14.576 31.840,18.750 26.666,18.750 ZM26.666,4.903 C24.216,4.903 22.217,6.903 22.217,9.377 C22.217,11.826 24.216,13.851 26.666,13.851 C29.140,13.851 31.140,11.826 31.140,9.377 C31.140,6.903 29.140,4.903 26.666,4.903 ZM9.241,18.750 L-0.007,18.750 L-0.007,0.004 L8.266,0.004 C11.265,0.004 13.815,2.579 13.815,5.578 C13.815,6.852 13.340,8.027 12.615,8.952 C13.890,9.977 14.740,11.551 14.740,13.251 C14.740,16.225 12.215,18.750 9.241,18.750 ZM7.291,4.078 L4.917,4.078 L4.917,7.327 L7.291,7.327 C8.191,7.327 8.916,6.603 8.916,5.703 C8.916,4.803 8.191,4.078 7.291,4.078 ZM8.216,11.451 L4.917,11.451 L4.917,14.701 L8.216,14.701 C9.116,14.701 9.841,13.976 9.841,13.076 C9.841,12.176 9.066,11.451 8.216,11.451 Z" class="logo-svg"/>
							</svg>
					.col-md-10.col-sm-8
						nav.menu
							ul.menu__list
								li.menu__item
									a.menu__link.menu__link--active(href="#intro") hello
								li.menu__item
									a.menu__link(href="#portfolio") portfolio
								li.menu__item
									a.menu__link(href="#team") team
								li.menu__item
									a.menu__link(href="#map") contact
		//- /HEADER

		//- INTRO
		section.intro#intro
			.intro__group
				h1.intro__title We Are Code Cafe
				h3.intro__subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum

			
			a(href="#portfolio").intro__down.next-block
				i.fa.fa-chevron-down(aria-hidden="true")
		//- /INTRO

		//- PORTFOLIO
		section.portfolio.section#portfolio
			.container
				.row
					.col-md-12
						.section__heading-group
							h2.section__title THE PORTFOLIO
							h3.section__subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium

						ul.portfolio__filter.filter
							li.filter__item
								a.filter__link.filter__link--active(href="#", data-filter="*") All Works
							li.filter__item
								a.filter__link(href="#", data-filter=".print") Print
							li.filter__item
								a.filter__link(href="#", data-filter=".branding") Branding
							li.filter__item
								a.filter__link(href="#", data-filter=".web") Web
							li.filter__item
								a.filter__link(href="#", data-filter=".html") HTML

						.portfolio__wrapper
		
							.portfolio__item.print
								a.portfolio__link(href="#")
									img.portfolio__img(src="img/portfolio/portf-1.jpg", alt="")
							.portfolio__item.branding
								a.portfolio__link(href="#")
									img.portfolio__img(src="img/portfolio/portf-2.jpg", alt="")
							.portfolio__item.web
								a.portfolio__link(href="#")
									img.portfolio__img(src="img/portfolio/portf-3.jpg", alt="")
							.portfolio__item.print
								a.portfolio__link(href="#")
									img.portfolio__img(src="img/portfolio/portf-4.jpg", alt="")
							.portfolio__item.web
								a.portfolio__link(href="#")
									img.portfolio__img(src="img/portfolio/portf-6.jpg", alt="")
							.portfolio__item.print
								a.portfolio__link(href="#")
									img.portfolio__img(src="img/portfolio/portf-7.jpg", alt="")
							.portfolio__item.html
								a.portfolio__link(href="#")
									img.portfolio__img(src="img/portfolio/portf-5.jpg", alt="")
							.portfolio__item.branding
								a.portfolio__link(href="#")
									img.portfolio__img(src="img/portfolio/portf-8.jpg", alt="")
							.portfolio__item.branding
								a.portfolio__link(href="#")
									img.portfolio__img(src="img/portfolio/portf-10.jpg", alt="")
							.portfolio__item.print
								a.portfolio__link(href="#")
									img.portfolio__img(src="img/portfolio/portf-12.jpg", alt="")
							.portfolio__item.branding
								a.portfolio__link(href="#")
									img.portfolio__img(src="img/portfolio/portf-11.jpg", alt="")
							.portfolio__item.html
								a.portfolio__link(href="#")
									img.portfolio__img(src="img/portfolio/portf-9.jpg", alt="")
		//- /PORTFOLIO

		//- TEAME
		section.team.section#team
			.container
				.row
					.col-md-12
						.section__heading-group
							h2.section__title The Team
							h3.section__subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium

				.row.team-slider
					.container
						.row
							.col-md-4.col-sm-4.text-right
								i.team-slider__photo
									img.responsive-img(src="img/hipster.jpg", alt="Hypster") 
							.col-md-7.col-sm-7
								.team-slider__info
									.team-slider__heading-group
										h4.team-slider__title Abdullah Noman
										h5.team-slider__sub-title Creative Director, Code Cafe
									p.team-slider__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
					.container
						.row
							.col-md-4.col-sm-4.text-right
								i.team-slider__photo
									img.responsive-img(src="img/hipster.jpg", alt="Hypster") 
							.col-md-7.col-sm-7
								.team-slider__info
									.team-slider__heading-group
										h4.team-slider__title Abdullah Noman
										h5.team-slider__sub-title Creative Director, Code Cafe
									p.team-slider__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
					
		//- /TEAME

		//- loveis
		section.loveis
			.container
				.row
					.col-md-12
						h2.loveis__title Already Loved Us? Let’s talk!
						p.text-center
							a.btn.next-block(href="#map") contact us
		//- /loveis

		//- TESTIMONIALS
		section.testimonials.section
			.container
				.row
					.col-md-12
						.section__heading-group
							h2.section__title Testimonials
							h3.section__subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium

			.container.testimonials-slider
				.row
					.col-md-3.col-sm-3.text-center
						i.testimonials__photo
							img(src="img/pharo.jpg", alt="PARTHO")
					.col-md-9.col-sm-9
						p.testimonials__message At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.

						h4.testimonials__author PARTHO
						h5.testimonials__form FOUNDER, ARTWAYS BD
				.row
					.col-md-3.col-sm-3.text-center
						i.testimonials__photo
							img(src="img/pharo.jpg", alt="PARTHO")
					.col-md-9.col-sm-9
						p.testimonials__message At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.

						h4.testimonials__author PARTHO
						h5.testimonials__form FOUNDER, ARTWAYS BD
				.row
					.col-md-3.col-sm-3.text-center
						i.testimonials__photo
							img(src="img/pharo.jpg", alt="PARTHO")
					.col-md-9.col-sm-9
						p.testimonials__message At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.

						h4.testimonials__author PARTHO
						h5.testimonials__form FOUNDER, ARTWAYS BD

	
		//- /TESTIMONIALS

		//- MAP
		section.section.map#map
			.container
				.row
					.col-md-12
						.section__heading-group
							h2.section__title Contact Us
							h3.section__subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
			#map-wrapper.map__wrapper
		//- /MAP

		//- FOOTER
		footer.footer
			.container
				.row
					.col-md-12
						.footer__logo
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="111.813" height="18.75" viewBox="0 0 111.813 18.75">
								<path d="M104.965,11.851 L104.965,18.750 L100.092,18.750 L100.092,11.851 L93.243,0.004 L98.917,0.004 L102.516,6.253 L106.140,0.004 L111.814,0.004 L104.965,11.851 ZM84.741,13.776 C86.015,13.776 87.115,13.326 87.890,12.526 L91.389,15.975 C89.690,17.675 87.340,18.750 84.741,18.750 C79.567,18.750 75.368,14.551 75.368,9.377 C75.368,4.203 79.567,0.004 84.741,0.004 C87.315,0.004 89.640,1.029 91.339,2.729 L87.890,6.203 C87.115,5.428 86.015,4.978 84.741,4.978 C82.191,4.978 80.342,6.827 80.342,9.377 C80.342,11.927 82.191,13.776 84.741,13.776 ZM62.417,9.877 L62.417,18.750 L57.493,18.750 L57.493,0.004 L59.492,0.004 L68.365,8.852 L68.365,0.004 L73.289,0.004 L73.289,18.750 L71.265,18.750 L62.417,9.877 ZM46.341,18.750 C42.217,18.750 38.943,15.475 38.943,11.351 L38.943,0.004 L43.892,0.004 L43.892,11.277 C43.892,12.626 44.991,13.726 46.341,13.726 C47.691,13.726 48.791,12.626 48.791,11.277 L48.791,0.004 L53.739,0.004 L53.739,11.351 C53.739,15.475 50.415,18.750 46.341,18.750 ZM26.666,18.750 C21.492,18.750 17.318,14.576 17.318,9.402 C17.318,4.228 21.492,0.004 26.666,0.004 C31.840,0.004 36.039,4.228 36.039,9.402 C36.039,14.576 31.840,18.750 26.666,18.750 ZM26.666,4.903 C24.216,4.903 22.217,6.903 22.217,9.377 C22.217,11.826 24.216,13.851 26.666,13.851 C29.140,13.851 31.140,11.826 31.140,9.377 C31.140,6.903 29.140,4.903 26.666,4.903 ZM9.241,18.750 L-0.007,18.750 L-0.007,0.004 L8.266,0.004 C11.265,0.004 13.815,2.579 13.815,5.578 C13.815,6.852 13.340,8.027 12.615,8.952 C13.890,9.977 14.740,11.551 14.740,13.251 C14.740,16.225 12.215,18.750 9.241,18.750 ZM7.291,4.078 L4.917,4.078 L4.917,7.327 L7.291,7.327 C8.191,7.327 8.916,6.603 8.916,5.703 C8.916,4.803 8.191,4.078 7.291,4.078 ZM8.216,11.451 L4.917,11.451 L4.917,14.701 L8.216,14.701 C9.116,14.701 9.841,13.976 9.841,13.076 C9.841,12.176 9.066,11.451 8.216,11.451 Z" class="logo-svg logo-svg--dark"/>
							</svg>
					p.copyright Copyright 2015. All rights Reserved

					ul.social-list
						li.social-list__item
							a.social-list__link.facebook(href="#")
								<i class="fa fa-facebook" aria-hidden="true"></i>
						li.social-list__item
							a.social-list__link.twitter(href="#")
								<i class="fa fa-twitter" aria-hidden="true"></i>
						li.social-list__item
							a.social-list__link.linkedin(href="#")
								<i class="fa fa-linkedin linkedin--alighn" aria-hidden="true"></i>
						li.social-list__item
							a.social-list__link.instagram(href="#")
								<i class="fa fa-instagram" aria-hidden="true"></i>
						li.social-list__item
							a.social-list__link.vimeo(href="#")
								<i class="fa fa-vimeo" aria-hidden="true"></i>
		//- /FOOTER

		<div class="loader">
			<div class="loader_inner"></div>
		</div>



			

		


		//- SCRIPTS
		script(src="https://code.jquery.com/jquery-3.2.1.js")
		scrript(src="plugins/stellar/jquery.stellar.js")
		script(src="plugins/isotope/isotope.pkgd.js")
		script(src="plugins/slick/slick.min.js")
		script(src="plugins/waypoints/waypoints.min.js")
		script(src="plugins/animate/animate-css.js")
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTJEWDGf1R6YQBh8QRr3uZmUK4ft9MrNE" async="" defer=""></script>
		script(src="js/common.js")
