/*--------------------------
 reset
--------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*--------------------------
 Variables
--------------------------*/
/*--------------------------
 GLOBAl
--------------------------*/
.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }

.loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute; }

body {
  color: #333b46;
  min-width: 320px;
  background: #fff;
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff; }

/*--------------------------
 CUSTOM CODE GOES HERE
--------------------------*/
/* HEADER */
.header {
  width: 100%;
  position: fixed;
  z-index: 3;
  padding: 40px 0 20px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .header--light {
    background-color: #000;
    padding: 10px 0; }

.menu {
  text-align: right; }
  .menu__item {
    display: inline-block;
    margin-right: 30px; }
    .menu__item:last-child {
      margin-right: 0; }
  .menu__link {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 27px;
    display: inline-block; }
    .menu__link--active {
      border: 1px solid currentColor;
      padding: 3px 21px;
      border-radius: 27px; }
    .menu__link:hover {
      border: 1px solid currentColor;
      padding: 3px 21px;
      border-radius: 27px; }

.logo {
  position: relative;
  top: 7px; }

.intro {
  height: 100vh;
  background-color: rgba(32, 34, 36, 0.5);
  background-image: url(../img/top-bg.jpg);
  background-position: center top;
  background-size: cover;
  position: relative; }
  .intro:after {
    background-color: rgba(32, 34, 36, 0.5);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1; }
  .intro__group {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 auto;
    max-width: 630px;
    color: #fff;
    text-align: center; }
  .intro__title {
    font-family: "Source Sans Pro";
    font-size: 36px;
    margin-bottom: 17px; }
  .intro__down {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 5vh;
    color: #fff;
    border: 1px solid #19bd9a;
    z-index: 2;
    font-size: 13px;
    line-height: 36px;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    font-weight: 300;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
    .intro__down:hover {
      background-color: #19bd9a; }

.section {
  padding: 80px 0 90px;
  color: #333b46; }
  .section__title {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 30px;
    letter-spacing: 3px; }
  .section__subtitle {
    font-size: 14px;
    color: #7f8ea2; }
  .section__heading-group {
    width: 100%;
    max-width: 465px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-bottom: 64px; }

.filter {
  text-align: center;
  padding-bottom: 45px; }
  .filter__item {
    display: inline-block;
    margin: 0 15px; }
  .filter__link {
    color: #464646;
    text-decoration: none;
    padding: 10px 0;
    position: relative;
    display: inline-block; }
    .filter__link--active:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 50%;
      height: 2px;
      background-color: #19bd9a; }

.portfolio {
  width: 100%;
  background-color: #F3F3F3; }
  .portfolio__wrapper {
    padding: 10px;
    margin: 0 auto; }
  .portfolio__item {
    margin: 5px;
    width: 23%;
    max-width: 270px; }
  .portfolio__link {
    display: block; }
    .portfolio__link img {
      display: block; }
  .portfolio__img {
    width: 100%; }

.team {
  background-color: #fff; }

.responsive-img {
  width: 100%;
  display: inline-block; }

.text-right {
  text-align: right; }

.team-slider__photo {
  display: inline-block;
  width: 100%;
  max-width: 285px;
  height: auto; }
.team-slider__heading-group {
  position: relative;
  display: block;
  margin-bottom: 25px;
  margin-top: 25px; }
  .team-slider__heading-group:after {
    display: block;
    content: "";
    width: 4px;
    height: 100%;
    background-color: #19bd9a;
    position: absolute;
    top: 0;
    right: -55px; }
.team-slider__info {
  text-align: right; }
.team-slider__title {
  color: #464646;
  font-size: 20px;
  line-height: 1;
  padding-bottom: 10px; }
.team-slider__sub-title {
  font-family: "Source Sans Pro";
  font-size: 14px;
  color: #81868e;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1; }
.team-slider__text {
  color: #81868e;
  font-size: 14px;
  max-width: 400px;
  display: inline-block; }

.slick-dots {
  text-align: center;
  margin-top: 38px; }
  .slick-dots li {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin: 5px; }
    .slick-dots li button {
      cursor: pointer;
      font-size: 0;
      line-height: 0;
      border: none;
      height: 10px;
      width: 10px;
      border: 1px solid #19bd9a;
      border-radius: 50%;
      background-color: transparent; }
  .slick-dots li.slick-active button {
    background-color: #19bd9a; }

.loveis {
  width: 100%;
  background-image: url(../img/loveisbg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 53px 0;
  color: #fff; }
  .loveis:before {
    display: block;
    position: absolute;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); }
  .loveis__title {
    text-align: center;
    font-size: 20px;
    padding-bottom: 25px; }

.btn {
  display: inline-block;
  color: #fff;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .btn:hover {
    background-color: #19bd9a;
    border-color: #19bd9a; }

.text-center {
  text-align: center; }

.testimonials {
  background-color: #F3F3F3; }
  .testimonials__photo {
    display: inline-block;
    border-radius: 50%; }
  .testimonials__message {
    max-width: 770px;
    padding-bottom: 30px; }
  .testimonials__author {
    color: #19bd9a;
    font-weight: bold; }
  .testimonials__form {
    color: #464646;
    font-size: 14px;
    text-transform: uppercase; }

.testimonials-slider {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-shadow: 1px 1px 1px 0px #E7E7E6;
          box-shadow: 1px 1px 1px 0px #E7E7E6; }

.map__wrapper {
  height: 440px; }

.logo-svg {
  fill: #fff;
  fill-rule: evenodd; }
  .logo-svg--dark {
    fill: #000; }

.footer {
  text-align: center;
  padding-bottom: 90px; }
  .footer__logo {
    margin-bottom: 10px; }

.social-list__item {
  display: inline-block;
  margin: 5px; }
.social-list__link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 26px;
  line-height: 26px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  -webkit-transition: .5s;
  transition: .5s; }
  .social-list__link:hover {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); }

.copyright {
  margin-bottom: 25px; }

.facebook {
  background-color: #3B5998; }

.twitter {
  background-color: #26A6D1; }

.linkedin {
  background-color: #0E76A8; }
  .linkedin--alighn {
    position: relative;
    top: -1px;
    left: 1px; }

.instagram {
  background-color: #3F729B; }

.vimeo {
  background-color: #86C9EF; }

@media only screen and (max-width: 768px) {
  .header, .menu {
    text-align: center; }

  .menu {
    padding: 15px 0; }
    .menu__item {
      margin: 0 15px; }

  .portfolio__item {
    width: 44%;
    margin: 3px; }

  .team-slider__photo {
    display: block;
    margin: 0 auto; }
  .team-slider__info {
    text-align: center; }
  .team-slider__heading-group:after {
    right: 0; }

  .testimonials {
    text-align: center; } }
@media only screen and (max-width: 480px) {
  .menu__item {
    margin: 0 6px; }

  .intro__title {
    font-size: 25px; }
  .intro__subtitle {
    font-size: 14px; } }
